--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
Flask
Flask-PyMongo
pymongo
Werkzeug
Pillow
transformers
moviepy
pydub
soundfile
pyrubberband
TTS
git+https://github.com/openai/whisper.git